
    <!-- does not link each post to show page-->
<!-- <% @posts.each do |post| %>
  <div><%= post.title %></div>
<% end %> -->


    <!-- hard coded. links each post to show page-->
<!-- <% @posts.each do |post| %>
  <div><a href='<%= "/posts/#{post.id}" %>'><%= post.title %></a></div>
<% end %> -->


    <!-- uses link_to. generates html code to link each post to show page-->
<!-- <% @posts.each do |post| %>
  <div><%= link_to post.title, "/posts/#{post.id}" %></div>
<% end %> -->


    <!-- if post object is passed as an arg id is automatic-->
<!-- <% @posts.each do |post| %>
  <div><%= link_to post.title, post_path(post.id) %></div>
<% end %> -->


<% @posts.each do |post| %>
  <div><%= link_to post.title, post_path(post) %></div>
<% end %>
